# Python Basics

In [ ]:
# Collecting User Input
input()

In [ ]:
# Collecting User Name
name = input('Enter your name')

In [ ]:
# Collecting User Input -  A step further
name = str(input('Enter your name'))
print(name)

In [ ]:
# Displaying output
print()

In [ ]:
# Printing out "Hello World!"
print("Hello World!")

In [ ]:
# Displaying variables and numbers
text = "Hello World!"
friends = ['Precious', 'Daniel', 'John']
print(4)
print(text)
print(friends)

In [ ]:
# Printing strings along side variables
print("Hello, I am python, I am 31 yeards old")
print("Not to brag, but I, python, am the most popular programming language")
print("In 19 years, I'll be celebrating my golden jubilee, I'll be 50")
print("One again, I am python and I am 31 years old.")

In [ ]:
# Concatenation and Printing
name = "python"
age = 31
print("Hello, I am",name,"I am",str(age),"years old")
print("Not to brag, but I,",name,"am the most popular programming language")
print("In 19 years, I'll be celebrating my golden jubilee, I'll be",str(age+19))
print("One again, I am",name,"and I am",str(age),"years old.")

# Python Basics 2

In [ ]:
# Creating Lists
["James", "Tunde", "Gideon"]

In [ ]:
# Lists with Multiple Data Types
["James", "Tunde", "Gideon", 9, 22, 16]

In [ ]:
# Lists and Variables
friends = ["James", "Tunde", "Gideon"]

In [ ]:
# Lists Index
friends = ["James", "Tunde", "Gideon"]
print(friends[0])

In [ ]:
# Lists Slicing
friends = ["James", "Tunde", "Gideon"]
print(friends[0:2])

In [ ]:
# Lists Methods
friends = ["James", "Tunde", "Gideon"]
print(len(friends))

In [ ]:
# Mutating or Changing List items
friends = ["James", "Tunde", "Gideon"]
print(friends)
friends[0] = "John"
print(friends)

In [ ]:
# List function - sort()
prices = [23.5, 4, 2.5, 9.0]
prices.sort()
print(prices)

In [ ]:
# List function - type()
list1 = [2, 9.7, "word", True]
print(type(list1))

In [ ]:
# List function - append()
weeks = ["Monday", "Tuesday", "Wednesday"]
weeks.append("Thursday")
print(weeks)

In [ ]:
# List function - extend()
weeks = ["Monday", "Tuesday", "Wednesday"]
weeks.extend(["Thursday","Friday"])
print(weeks)

In [ ]:
# List function - index()
weeks = ["Monday", "Tuesday", "Wednesday"]
print(weeks.index("Monday"))

In [ ]:
# List function - max()
Ages = [3,5,7]
print(max(Ages))

In [ ]:
# List function - min()
Ages = [3,5,7]
print(min(Ages))

In [ ]:
# List function - len()
weeks = ["Monday", "Tuesday", "Wednesday"]
print(len(weeks))

In [11]:
# List functions - list()
string1 = "python"
list1 = list(string1)
print(list1)

['p', 'y', 't', 'h', 'o', 'n']

In [ ]:
# Creating Our First Tuple
friends = ("James", "Tunde", "Gideon")
print(friends)

In [ ]:
# Creating Sets
thisset = {"apple", "banana", "cherry"}
print(thisset)

In [ ]:
# Checking out if items are unique
thisset = {"apple", "banana", "cherry", "apple"}

In [ ]:
# Length of a Set
thisset = {"apple", "banana", "cherry", "apple"}
print(len(thisset))

In [ ]:
# Checking an item in a set
thisset = {"apple", "banana", "cherry"}
print("banana" in thisset)

In [ ]:
# Set operations - Union(|)
A = {'red', 'green', 'blue'}
B = {'yellow', 'red', 'orange'}
print(A|B)
print(A.union(B))

In [ ]:
# Set operations - Intersection(&)
A = {'red', 'green', 'blue'}
B = {'yellow', 'red', 'orange'}
print(A&B)
print(A.intersection(B))

In [18]:
# Set operations - Difference(-)
A = {'red', 'green', 'blue'}
B = {'yellow', 'red', 'orange'}
print(B-A)
print(A.difference(B))

{'orange', 'yellow'}
{'green', 'blue'}

In [19]:
# Set operations - symmetric difference(^)
A = {'red', 'green', 'blue'}
B = {'yellow', 'red', 'orange'}
print(A^B)
print(A.symmetric_difference(B))

{'yellow', 'blue', 'green', 'orange'}
{'yellow', 'blue', 'green', 'orange'}

# Python Basics 3

In [ ]:
# Creating Dictionaries
thisdict = {
    "brand":"Ford",
    "model":"Mustang",
    "year":1964
}
print(thisdict)

In [ ]:
# Creating Dictionaries 2
keys = ['name', 'age', 'job']
values = ['Bob', 25, 'Dev']
D = dict(zip(keys, values))
print(D)

In [ ]:
# get() method
print(D.get('name'))
print(D.get('salary'))

In [ ]:
# Update Dictionary Items
D = {'name':'Bob','age':25,'job':'Dev'}
print(D)
D['name'] = 'Sam'
print(D)

In [39]:
# Remove Dictionary Items
D = {'name':'Bob','age':25,'job':'Dev'}
print(D)
D.pop('age')
print(D)

{'name': 'Bob', 'age': 25, 'job': 'Dev'}
{'name': 'Bob', 'job': 'Dev'}

In [41]:
# Remove all Items
D = {'name':'Bob','age':25,'job':'Dev'}
print(D)
D.clear()
print(D)

{'name': 'Bob', 'age': 25, 'job': 'Dev'}
{}

In [42]:
# Merge Two Dictionaries
D1 = {'name':'Bob','age':25,'job':'Dev'}
D2 = {'age': 30,'city':'New York','email':'bob@web.com'}
print(D1,'\n',D2)
D1.update(D2)
print(D1)

{'name': 'Bob', 'age': 25, 'job': 'Dev'}
 {'age': 30, 'city': 'New York', 'email': 'bob@web.com'}
{'name': 'Bob', 'age': 30, 'job': 'Dev', 'city': 'New York', 'email': 'bob@web.com'}

In [ ]:
# while loop
x = 0
while (x < 10):
    x = x+1
    print(x)

In [ ]:
# for loop
for x in range(1,11):
    print(x)

In [ ]:
# break statement
for x in range(1,11):
    if x == 4:
        break
    print(x)

In [ ]:
# break statement
for x in range(1,11):
    if x == 4:
        continue
    print(x)

In [ ]:
years_of_experience = [3,5,2,1,3,1,4]
for year in years_of_experience:
    if year == 1:
        continue
    print(year)