In [1]:
print("Hello John")

Hello John

In [2]:
print(9+3)

12

In [3]:
input('Enter youur name :')

Enter youur name :John

'John'

In [7]:
name="John"
age=30
print(name)
print(age)

John
30

In [8]:
name = "python"
age = 31
print("Hello, I am "+ name +", I am "+ str(age) +" years old")
print("Not to brag, ")

Hello, I am python, I am 31 years old

In [14]:
place = "igodan,okitipupa,ondo state"
print("my school is located in " + place)

my school is located in igodan,okitipupa,ondo state

In [ ]:
name = input("michael")
age = input("27")
school = input("oaustech")
gender = input("female")